.location {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: var(--secondary-font);
  color: #ffffff;
}
footer {
  background-color: #2f303a;
  height: 252px;

  .logo__right-part {
    color: #ffffff;
  }
}
.address-block {
  min-width: 231px;
  margin-top: 20px;
}
.address-item {
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  font-family: var(--secondary-font);
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);

  &:nth-child(n + 2) {
    display: flex;
    padding-top: 9px;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-container {
  min-height: 252px;
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.footer-blocks {
  display: flex;

  .social-link {
    transition: background-color cubic-bezier(0.4, 0, 0.2, 1) 250ms;

    background-color: rgba(255, 255, 255, 0.1);
    color: var(--light-gray-color);
  }
}

.right-block .social-link:hover,
.right-block .social-link:focus {
  background-color: var(--accent-color);
}
.right-block {
  display: block;
  margin-left: 70px;
  width: 206px;

  li {
    display: flex;
    justify-content: space-between;
  }
}
.right-block span,
.form-block span {
  text-transform: uppercase;
  color: var(--light-gray-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
}
