.virtues {
  padding-top: 60px;
  padding-bottom: 60px;

  p {
    padding-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--dark-gray-color);
  }
}
.virtues-list {
  display: flex;
  flex-direction: column; /////////
  align-items: center;/////
  padding: 0px; 
}
.virtues-item {
  display: flex;//
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  min-height: 101px;
  min-width: 270px;
  font-size: 14px;

  &:not(:last-child){
  margin-bottom: 30px;////
  }
  h3 {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.172;
    margin-top: 30px;
  }
}
.virtues-image {
  width: 450px;//
  min-height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;

  > svg {
    display: flex;
    align-self: center;
    justify-items: center;
    margin: auto;
  }
}

// .virtues {
//   padding-top: 94px;

//   p {
//     padding-top: 10px;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.714;
//     letter-spacing: 0.05em;
//     color: var(--dark-gray-color);
//   }
// }
// .virtues-list {
//   display: flex;
//   justify-content: space-between;
//   padding: 0px;
//   li:nth-child(n + 2) {
//     margin-left: 30px;
//   }
// }
// .virtues-item {
//   display: inline-block;
//   font-weight: bold;
//   min-height: 101px;
//   min-width: 270px;
//   font-size: 14px;

//   h3 {
//     font-size: 16px;
//     text-transform: uppercase;
//     line-height: 1.172;
//     margin-top: 30px;
//   }
// }
// .virtues-image {
//   width: 270px;
//   min-height: 120px;
//   background: #f5f4fa;
//   border-radius: 4px;
//   display: flex;
//   align-items: center;

//   > svg {
//     display: flex;
//     align-self: center;
//     justify-items: center;
//     margin: auto;
//   }
// }
