.works-cards {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
  flex-wrap: wrap;

  .cards-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: var(--dark-gray-color);
    display: inline-block;
    min-width: 270px;
  }
  li {
    min-width: 370px;
    box-sizing: border-box;
  }
}
.our-works,
.our-clients {
  padding-bottom: 94px;
  padding-top: 94px;
}
.cards-description {
  padding: 20px 24px;
}
