.contacts__item__image {
  fill: currentColor;
  margin-right: 10px;
}
.navigation-bar__pages {
  display: flex;
}
.navigation-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
}
.contacts__item__address {
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  color: var(--dark-gray-color);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacts__item__address:hover .contacts__item__link,
.contacts__item__address:focus .contacts__item__link,
.contacts__item__address:hover,
.contacts__item__address:focus {
  color: var(--accent-color);
}
.navigation-list__item:hover,
.navigation-list__item:focus {
  color: var(--accent-color);
  text-decoration: none;
}

.navigation-list,
.navigation-bar__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: var(--secondary-font);
}
.navigation-list__item {
  transition: color cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  margin-left: 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  font-family: var(--secondary-font);
}
.contacts__item__link {
  transition: all cubic-bezier(0.4, 0, 0.2, 1) 250ms;

  align-content: space-between;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--dark-gray-color);
  font-style: normal;
}
.navigation-bar__contacts__item:nth-of-type(2) {
  margin-left: 50px;
}
.contacts__item__link:hover,
.contacts__item__link:focus {
  color: var(--accent-color);
}
