:root {
  --accent-color: #2196f3;
  --light-gray-color: #f5f4fa;
  --dark-gray-color: #757575;
  --black-color: #212121;
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Roboto", sans-serif;
}
